# Sistema operativo
.DS_Store
Thumbs.db
 
# Editores
.vscode/
.idea/
*.swp
*.swo
 
# Dependencias (por si en el futuro agregas npm)
node_modules/
 
# Variables de entorno
.env
.env.local
 
# Archivos de build
dist/
build/
